

<div class="row">
  <div class="col-md-12 my-3">
    Expense detail
  </div>
  <div class="col-md-12">
    <div class="card" *ngIf="(expense$ | async) as expense">
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h4 class="card-title">{{expense.amount | currency: 'INR'}}</h4>
        <p class="card-text">{{expense.category}}</p>
        <p class="card-text">{{expense.subcategory}}</p>
        <p class="card-text">{{expense.description}}</p>
      </div>
    </div>
  </div>
</div>
