<div class="row">
  <div class="col-md-12 my-1">
    <button type="button" name="add-expenase" id="add-expense" class="btn btn-primary" routerLink="/expenses/add">
      Add expense
    </button>
  </div>
  <div class="col-md-12 my-1">
    <ul class="list-group">
      <li
        *ngFor="let expense of (expenses$ | async)"
        [routerLink]="[expense.id]" routerLinkActive="active"
        class="list-group-item d-flex justify-content-start align-items-center">
          <span class="mx-1">{{expense.description || 'No description'}}</span>
          <span class="badge badge-danger badge-pill ml-auto">{{expense.amount | currency: 'INR'}}</span>
          <span class="material-icons" (click)="deleteExpense(expense.id)">delete</span>
          <span class="material-icons" (click)="editExpense(expense.id, $event)" routerLinkActive="router-link-active" >edit</span>
      </li>
    </ul>
  </div>
</div>
